body {
    background-color: rgba(128, 128, 128, 1); /* Gray color */
    background-size: cover; 
    background-repeat: no-repeat;
    font-family: sans-serif;
}


.grid-container1 {
    display: flex;
    padding-top: 15px;
    grid-template-columns: auto auto;
    border-radius: 10px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.grid-container1 #item {
    width: 99%;
    padding: 5px;
    border-radius: 10px;
    background-color: green;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid-container1 #item img{
    width: 250px;
    border-radius: 50%;
    padding-top: 15px;
}

.grid-container1 #item h3{
    padding-top: 10px;
}

.grid-container1 #item p {
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px;
}

.grid-container2 {
    display: flex;
    padding-top: 15px;
    grid-template-columns: auto auto;
    border-radius: 10px;
    gap: 20px;
}

.grid-container2 #item1 {
    width: 99%;
    padding: 5px;
    border-radius: 10px;
    background-color: orange;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid-container2 #item1 img{
    width: 250px;
    border-radius: 50%;
    padding-top: 15px;
}

.grid-container2 #item1 h3{
    padding-top: 10px;
}

.grid-container2 #item1 p {
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: auto;
}


.grid-container2 #item2 {
    width: 99%;
    padding: 5px;
    border-radius: 10px;
    background-color: red;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid-container2 #item2 img{
    width: 250px;
    border-radius: 50%;
    padding-top: 15px;
}

.grid-container2 #item2 h3{
    padding-top: 10px;
}

.grid-container2 #item2 p {
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: auto;
}

/* Shared styles for h3 tags */
.grid-container1 #item h3,
.grid-container2 #item1 h3,
.grid-container2 #item2 h3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    word-wrap: break-word; /* Add this line */
}

/* Shared styles for paragraph tags */
.grid-container1 #item p,
.grid-container2 #item1 p,
.grid-container2 #item2 p {
   display: flex;
   flex-direction: column;
   text-align: center;
   word-wrap: break-word; /* Add this line */
}

.grid-container1 #item b,
.grid-container2 #item1 b,
.grid-container2 #item2 b{
    display:flex;
    flex-direction: column;
    text-align: center;
}


/* CSS for transaction items */
.transaction-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Additional styling for transaction items */
  .transaction-item p {
    margin: 0;
  }

.transactions-element{
    background:  rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.balance-element{
    background:  rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

@media (max-width: 768px){
    .grid-container1,
    .grid-container2 {
    display: flex;
    flex-direction: column;
    }
}