.grid-container1 {
    display: flex;
    padding-top: 15px;
    grid-template-columns: auto auto;
    border-radius: 10px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.grid-container1 #item {
    height: 370px;
    width: 99%;
    padding: 5px;
    border-radius: 10px;
    background-color: green;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid-container1 #item img{
    width: 250px;
    border-radius: 50%;
    padding-top: 15px;
}

.grid-container1 #item h3{
    padding-top: 15px;
}

.grid-container1 #item p {
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px;
}

.grid-container2 {
    display: flex;
    padding-top: 15px;
    grid-template-columns: auto auto;
    border-radius: 10px;
    gap: 20px;
}

.grid-container2 #item1 {
    height: 370px;
    width: 99%;
    padding: 5px;
    border-radius: 10px;
    background-color: orange;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid-container2 #item1 img{
    width: 250px;
    border-radius: 50%;
    padding-top: 15px;
}

.grid-container2 #item1 h3{
    padding-top: 15px;
}

.grid-container2 #item1 p {
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px;
}


.grid-container2 #item2 {
    height: 370px;
    width: 99%;
    padding: 5px;
    border-radius: 10px;
    background-color: red;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid-container2 #item2 img{
    width: 250px;
    border-radius: 50%;
    padding-top: 15px;
}

.grid-container2 #item2 h3{
    padding-top: 15px;
}

.grid-container2 #item2 p {
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px;
}
